@model IEnumerable<Loteria.Models.DbModels.Odpowiedz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pytanie.tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poprawnoscOdpowiedzi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pytanie.tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poprawnoscOdpowiedzi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OdpowiedzId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OdpowiedzId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OdpowiedzId })
        </td>
    </tr>
}

</table>
